<div id="follow" class="follow-row wrap">
  <a class="follow-link" href="{{ site.social.insight_timer }}" target="_blank" rel="noopener">
    <span class="icon">IT</span><span class="label">Insight Timer</span>
  </a>
  <a class="follow-link" href="{{ site.social.padma_refuge }}" target="_blank" rel="noopener">
    <span class="icon">PR</span><span class="label">Padma Refuge</span>
  </a>
  <a class="follow-link" href="{{ site.social.instagram }}" target="_blank" rel="noopener">
    <span class="icon">IG</span><span class="label">Instagram</span>
  </a>
  <a class="follow-link" href="{{ site.social.facebook }}" target="_blank" rel="noopener">
    <span class="icon">FB</span><span class="label">Facebook</span>
  </a>
  <a class="follow-link donate" href="{{ site.social.donate_canada }}" target="_blank" rel="noopener">
    <span class="icon">$</span><span class="label">Donate: Canada</span>
  </a>
  <a class="follow-link donate" href="{{ site.social.donate_international }}" target="_blank" rel="noopener">
    <span class="icon">$</span><span class="label">Donate: International</span>
  </a>
</div>
