<article class="reflection-card">
  <a href="{{ include.reflection.url | relative_url }}">
    <img src="{{ include.reflection.photo | relative_url }}" alt="{{ include.reflection.title | escape }}">
  </a>
  <div class="body">
    <div class="date">{{ include.reflection.date | date: "%b %-d, %Y" }}</div>
    <p><a href="{{ include.reflection.url | relative_url }}">{{ include.reflection.title }}</a></p>
    <p>{{ include.reflection.content | strip_html | truncatewords: 42 }}</p>
  </div>
</article>
